nav.navbar {
  background-color: #e3f2fd;
}

.sidebar-nav>ul {
  padding-top: 15px;
}

.main-title {
  padding-top: 15px;
}

a.btn {
  color: white;
}

#add-activity-button-row {
  padding: 15px 0 15px 0
}